<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ name }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="static/css/app.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
  {% raw %}
  <div class="container" id="app">
    <header>
      <h1>{{ name }}</h1>
      <div class="avatar"></div>
    </header>

    <div class="panel">
      <input type="text" v-model="task" placeholder="Type a job name">
      <button v-on:click="addTask" class="add-task">+</button>
    </div>

    <h5 v-if="todos.length > 0">Your Jobs:</h5>

    <h5 v-if="todos.length == 0">There is no mor jobs</h5>

    <div v-for="(todo,index) in todos">
      <div class="task">
        <div v-on:click="toggleStatus(index)" class="status" v-bind:class="todo.status"></div>
        <div class="text">{{ todo.title }}</div>
        <img v-on:click="toggleModal(index)" src="static/img/garbage.png" alt="Excluir" class="delete">
      </div>
    </div>

    <div class="modal-layer" v-if="showModal">
      <div class="modal">
        <h4>Confirm this action?</h4>
        <p>{{ selectedTask }}</p>
        <div class="buttons">
          <button v-on:click="toggleModal()">Cancel</button>
          <button v-on:click="removeTask">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  {% endraw %}

  <script>
    Vue.prototype.$http = axios;

    var app = new Vue({
      el: '#app',
      data: {
        name: 'My Career App',
        task: '',
        selectedItem: null,
        selectedTask: null,
        showModal: false,
        todos: [
          { title: 'My First Job', status: 'done' },
          { title: 'My Second Job', status: 'pending' },
          { title: 'My Third Job', status: 'pending' },
        ]
      },
      methods: {
        async getData() {
          try {
            const response = await this.$http.get(
              "api:5000/jobs"
            );

            this.todos = response.data;
          } catch (error) {
            console.log(error);
          }
        },
        toggleModal: function (index) {
          this.showModal = !this.showModal;

          if (index !== undefined) {
            this.selectedItem = index;
            this.selectedTask = this.todos[index].title;
          }
        },
        addTask: function () {
          if (this.task !== '') {
            this.todos.push({
              title: this.task,
              status: 'pending'
            })
          }
          this.task = '';
        },
        removeTask: function () {
          this.todos.splice(this.selectedItem, 1);
          this.showModal = false;
        },
        toggleStatus: function (index) {
          this.todos[index].status = this.todos[index].status === 'pending' ? 'done' : 'pending';
        }
      },
      created() {
        this.getData();
      },
    });

  </script>

</body>

</html>